# Build artifacts
bin/
obj/

# Package folders (legacy)
packages/

# IDEs
.vscode/
.vs/
riderModule.iml
_ReSharper.Caches/

# User-specific files
*.suo
*.user
.env*
# DB / cache files
*.db
*.db-shm
*.db-wal

# Visual Studio project metadata
*.vsidx
*.v9.bin
*.v9.suo

